{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.2.47/css/metro-all.min.css">
{#        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />#}
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        {% block stylesheets %}

        {% endblock %}

        <title>Footloose Students</title>
    </head>
    <body>
        <ul class="h-menu bg-red fg-white">
            <li><a href="/">Home</a> </li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li>
                        <a href="#" class="dropdown-toggle">Member List</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="{% url 'students:listall' "wp" %}">Personal details</a> </li>
                            <li><a href="{% url 'students:listall' "db" %}">Member details</a> </li>
                        </ul>
                    </li>
                    <li><a href="{% url 'students:listsubmissions' %}">All submissions</a> </li>
                    <li>
                        <a href="#" class="dropdown-toggle">Verification System</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="{% url 'students:listverifications' %}">All Confirmations</a> </li>
                            <li><a href="{% url 'students:listinvalids' %}">Invalids</a> </li>
                        </ul>
                    </li>

                    <li><a href="{% url 'students:listinterestedmembers' %}">All interested</a> </li>
{#                    <li>#}
{#                         <a href="#" class="dropdown-toggle">Analysis</a>#}
{#                         <ul class="d-menu" data-role="dropdown">#}
{#                             <li><a href="{% url 'analysis:stats' %}">Statistics</a></li>#}
{#                            <li><a href="{% url 'analysis:listall' %}">List All</a> </li>#}
{#                             {% if user.is_superuser %}#}
{#                             <li><a href="{% url 'analysis:importmembers' %}">Import Members</a> </li>#}
{#                                 <li><a href="{% url 'analysis:uploadsubscriptions' %}">Upload Subscriptions</a> </li>#}
{#                             {% endif %}#}
{#                         </ul>#}
{#                    </li>#}
                    <li>
                        <a href="#" class="dropdown-toggle">Distribution</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="{% url 'distribution:listcoursetypes' %}">Manual Distribution</a> </li>
                            <li><a href="{% url 'distribution:automaticdistribute_step1' %}">Automatic Distribution</a> </li>
                            <li><a href="{% url 'distribution:listdistributions' %}">List all distributed couples</a> </li>
                        </ul>
                    </li>

                {% else  %}
                    {% if user.username == 'prcommissie' %}
                    <li><a href="{% url 'analysis:stats' %}">Statistics</a></li>
                    {% else %}
                    <li><a href="{% url 'students:verify_request' %}">Verify</a></li>
                    {% endif %}
                {% endif %}

                <li><a href="{%  url 'login:logout' %}"><span class="mif-vpn-lock icon"></span>Logout</a></li>
            {%  else %}
                <li><a href="{% url 'login:login' %}"><span class="mif-vpn-lock icon"></span>Login</a></li>
            {%  endif %}

        </ul>

        {% block body %}
            {% autoescape off %}
            {{ message }}
            {% endautoescape %}
        {% endblock %}

{#        {% recaptcha_init %}#}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.metroui.org.ua/v4.2.47/js/metro.min.js"></script>
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>#}
        {% block scripts %}

        {% endblock %}
    </body>
</html>
