{% extends 'base.html' %}
{% load static %}
{% load  custom_filters %}

{% block stylesheets %}
    <style>
        td {
            vertical-align: top !important;
        }
        ul.memberList {
            margin: 0;
            padding: 0;
            {#background-color: grey;#}
            min-height: 20px;
            user-select: none; /*disable text selection*/
        }

        li.member {
            list-style: none;
            background-color: lightblue;
            border: 1px solid white;
        }

        li.member > div.btn {
            width: 100%;
            text-align: left;
        }

        td {
            width: 20%;
        }
    </style>

{% endblock %}

{% block body %}
<h1>Distribute for course type {{ type }}</h1>
<button onclick="save_all();" class="button success">Save all</button>
{#    <a href="" class="button warning">Mail all</a>#}
<table class="table">
<thead>
<tr>
{% for course in courses %}
    <th>{{ course.0 }} Couple limit: {{ course.0.limit }}
        <button onclick="clear_course('{{ course.0.get_machine_name }}');" class="button alert">Clear</button>
    </th>
{% endfor %}
<th>Couple Maker</th>
</tr>
</thead>
<tbody>
<tr>
{% for course in courses %}
    <td class="admitted" >
    <ul class="memberList admitted" data-course-id="{{ course.0.pk }}" id="admitted_{{ course.0.get_machine_name }}">
        {% for distr in course.1 %}
            {{ distr.couple|couple_to_li }}
        {% endfor %}
    </ul>
    </td>
{% endfor %}
<td style="width:25%;">
    <table class="table">
        <tr>
            <td style="width:5%;">Leader:</td>
            <td>
                <select data-role="select" id="couplecreator_leader">
                {% for user in users %}
                    <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td style="width:5%;">Follower:</td>
            <td>
                <select data-role="select" id="couplecreator_follower">
                <option value="-1">None</option>
                {% for user in users %}
                    <option value="{{ user.pk }}">{{ user }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><button class="button primary" onclick="create_couple();">Create</button> </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <ul class="memberList" id="couplecreator_list">

                </ul>
            </td>
        </tr>
    </table>
</td>
</tr>
<tr>
 {% for course in courses %}
    <td class="rejected" >
    <ul class="memberList rejected" data-course-id="{{ course.0.pk }}" id="rejected_{{ course.0.get_machine_name }}">
        {% for distr in course.2 %}
            {{ distr.couple|couple_to_li }}
        {% endfor %}
    </ul>
    </td>
{% endfor %}
<td></td>
</tr>
</tbody>
</table>
{% endblock %}

{% block scripts %}
{% csrf_token %}
<script src="{% static "js/jquery-ui.sortable.min.js" %}"></script>

<script>
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();


function create_couple() {
    var leaderid = $("#couplecreator_leader").val();
    var followerid = $("#couplecreator_follower").val();

     var jqxhr = $.post("{% url 'distribution:api_createcouple' %}", {
        leaderid: leaderid,
         followerid: followerid,
     }, function(data){
         $("#couplecreator_list").append(data);
     });
}

function save_course(course) {
    var coursepk = $("#admitted_" + course).attr('data-course-id');
    var couples_admitted_ids = [];
    var couples_rejected_ids = [];

    $("#admitted_" + course + " li").each(function(){
        couples_admitted_ids.push($(this).data('couple-id'));
    });

    $("#rejected_" + course + " li").each(function(){
        couples_rejected_ids.push($(this).data('couple-id'));
    });

    var jqxhr = $.post("{% url 'distribution:api_savedistributions' %}" + String(coursepk) + "/",{
        data: JSON.stringify({ couples_rejected: couples_rejected_ids, couples_admitted: couples_admitted_ids})},
    function(data){
        Metro.notify.create(data);
    });

}

function clear_course(course) {
    $("#admitted_" + course + " li").each(function() {
        $(this).remove();
    });

    $("#rejected_" + course + " li").each(function() {
        $(this).remove();
    });
}

function delete_couple_block(block){
    block.parentElement.remove();
    return false;
}

function save_all(){
    {% for course in courses %}
        save_course('{{ course.0.get_machine_name }}');
    {% endfor %}
}

$("ul.memberList").sortable({
    connectWith: "ul.memberList",
    placeholder: "", /*here any custom classes for a just-before-drop UL can be defined*/
});

</script>
{% endblock %}