{% extends 'base.html' %}

{% block body %}
<h3>All Verifications</h3>
Number of successfull confirmations: {{ numconfirmations }}<br/>
Number of outstanding tokens: {{ numverifytokens }}<br/>
<table class="table striped table-border" data-role="table" data-rows="100">
<thead>
<tr>
    <th>user</th>
    <th>email</th>
    <th>date</th>
    <th>IP</th>
</tr>
</thead>
<tbody>
{% for confirmation in confirmations %}
<tr>
    <td>{{ confirmation.user }}</td>
    <td>{{ confirmation.email }}</td>
    <td>{{ confirmation.date }}</td>
    <td>{{ confirmation.ip }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}