{% extends 'base.html' %}

{% block stylesheets %}
<style>
.small {
	width: 30%;
}
</style>
{% endblock %}

{% block body %}
<h1> Member stats</h2>
<h4>Gender Count</h4>
<table class="table">
    {% for k,v in gender.items %}
        <tr><td class="small">{{ k }}</td><td>{{ v }}</td></tr>
    {% endfor %}
</table>

<h4>Student Count</h4>
<table class="table">
    {% for k,v in student.items %}
        <tr><td class="small">{{ k }}</td><td>{{ v }}</td></tr>
    {% endfor %}
</table>

<h4>Institute Count</h4>
<table class="table">
    {% for k,v in institute.items %}
        <tr><td class="small">{{ k }}</td><td>{{ v }}</td></tr>
    {% endfor %}
</table>

<h4>Faculty Count</h4>
<table class="table">
    {% for k,v in studies.items %}
        <tr><td class="small">{{ k }}</td><td>{{ v }}</td></tr>
    {% endfor %}
</table>


{% endblock %}
