/*td {*/
    /*word-wrap: break-word;*/
/*}*/

/*table {*/
    /*table-layout:fixed;*/
/*}*/

td.admitted {
    height: 250px;
    background-color: green;
    border: 1px solid white;
}

td.rejected {
    height: 250px;
    background-color: indianred;
    border: 1px solid white;
}

ul.admitted {
    background-color: darkgreen;
}

ul.rejected {
    background-color: darkred;
}